{% extends "main/base.html" %}
{% load static %}
{% block metadata %}


<!-- MODAL 1 FOR ADDING NOTES  -->
<div id="modal1" class="modal">
   <div class="modal-content">
     <h5>Add a new note</h5>
     <form action="/maple/question/submit" method="post">
        {% csrf_token %}
        {{ note_form }}
         <button class="btn-small #e65100 orange darken-4 waves-effect waves-light"  type="submit" name="action">Add note

       </button>
     </form>
   </div>
 </div>

 <!-- MODAL 2 FOR ADDING TASKS -->

 <div id="modal2" class="modal">
    <div class="modal-content">
      <h5>Add a new task</h5>
      <form action="/maple/answer/submit" method="post">{% csrf_token %}
    {{ task_form }}
          <button class="btn-small #e65100 orange darken-4 waves-effect waves-light"  type="submit" name="action">Add task

        </button>
      </form>
    </div>
    </div>


    <div id="modal3" class="modal">
       <div class="modal-content">
         <h5>Add a new task</h5>
         <form action="/maple/status/change" method="post">{% csrf_token %}
       {{ updated_status_form }}
             <button class="btn-small #e65100 orange darken-4 waves-effect waves-light"  type="submit" name="action">Change status

           </button>
         </form>
       </div>
       </div>



    <!-- ######################################################################################################## -->

<div class = "container">
  {% if sucess %}
    <h1>Your request has been submitted</h1>
  {% else %}

  {% endif %}

  <div class = "row">
    <div class = "col s12 m12">
      <br/>
      <a href = "/maple/data-requests"class="#"><i style="color:#ff3d00;" class="material-icons left small">arrow_back</i></a><br/>
      <h5>Request {{project.id}}</h5>

    </div>


    <div class="row">
      <div class="col m6 s6">
        <strong class="thin">Current request manager:</strong>
      </div>
      <div class="col m6 s6">
        {{project.request_creator.first_name}} {{project.request_creator.last_name}}
      </div>
      <div class="col m6 s6">
        <strong class="thin">Request contact:</strong>
      </div>
      <div class="col m6 s6">
        {{project.requestor_contact_name}}
      </div>
      <div class="col m6 s6">
        <strong class="thin">Type of data requested:</strong>
      </div>
      <div class="col m6 s6">
        {{project.data_type}}
      </div>
      <div class="col m6 s6">
        <strong class="thin">Date received:</strong>
      </div>
      <div class="col m6 s6">
        {{project.date_received}}
      </div>
      <div class="col m6 s6">
        <strong class="thin">Current status:</strong>
      </div>
      <div class="col m6 s6">
        {{project.current_status}}
      </div>
      <div class="col m6 s6">
        <strong class="thin">Related documentation:</strong>
      </div>
      <div class="col m6 s6">
        {{project.related_documentation}}
      </div>
      <div class="col m6 s6">
        <strong class="thin">Date due:</strong>
      </div>
      <div class="col m6 s6">
        {{project.date_due}}
      </div>
      {% if project.seeking_contentious_data %}
      <div class="col m6 s6">
        <strong class="thin">Contentious data elements requested:</strong>
      </div>
      <div class="col m6 s6">
       Yes
      </div>


      {% endif %}


      <div class="col s12 m12">
        <br/><strong>Request detail</strong>
        <hr/>
      </div>
      <div class="col s12 m12">
        {{project.detail}}
        </div>
      </div>

    <div class = "row">
      <div class = "col s12 m12">
        <strong>Notes and Tasks</strong>
   <hr/>
      </div>
          {% if user.is_superuser %}
      <div class = "col s12 m12">
         <strong style="font-size: 12px">
           <a class = "modal-trigger orange-text text-darken-4" href="#modal1">Add note</a>
         </strong>
         |
         <strong style="font-size: 12px">
           <a class = "modal-trigger orange-text text-darken-4" href="#modal2">Add task</a>
         </strong>
         |
         <strong style="font-size: 12px">
           <a class = "modal-trigger orange-text text-darken-4" href="#modal3">Change request status</a>
         </strong>
         |
         <strong style="font-size: 12px">
           <a class = "modal-trigger orange-text text-darken-4" href="/admin/projects/datarequest/{{project.id}}/change/">Admin</a>
         </strong>
         {% endif %}
        </div>
      </div>


<div class = "row">
  <ul class="collection">
    {% if project.noteortask_set.all %}
     {% for obj in project.noteortask_set.all  %}
      <li class="collection-item">
       <strong class="grey-text text-darken-2" style="font-size: 11px">
         {{ obj.created_by.first_name}} {{obj.created_by.last_name}} added a {{obj.type }} on {{ obj.date_and_time_created}}
       </strong><br/>
       <div>{{obj.detail}}</div>
      {% if obj.type == "Task" %}
      <strong class="grey-text text-darken-2" style="font-size: 11px">Allocated to {{ obj.allocated_to.first_name}} {{obj.allocated_to.last_name}}, due by {{ obj.date_due}}, and
        {% if obj.task_completed == True %} has been completed. {% else %} not yet completed. {% endif %}
      </strong><br/><br/>


          {% endif %}

          {% if user.is_superuser or request.user == obj.allocated_to or request.user == obj.created_by %}

      <div>
        <strong style="font-size: 12px">
         <a href ="/maple/task-note-edit/{{obj.id}}" class = "orange-text text-darken-4">Edit</a>
        </strong>
      </div>




   {% endif %}

      </li>
  {% endfor %}
  {% else %}
  <li class="collection-item">
     <div>No tasks have been added to this request or project</div>
  </li>
 {% endif %}

    </ul>

</div>
  </div>

</div>


{% endblock %}
