{% extends "main/base.html" %}
{% load static %}
{% block metadata %}

<div>


<div class="row">
  <div class="col s1 m1">

  </div>


  <div class="col s10 m10">

    <input id="myInput" placeholder="Search" id="first_name" type="text" class="validate">




<ul id="bob" class="collection">
    {% for obj in data_apis %}
    <li class="collection-item">

      <div class = "row">
      <div class="col s3 m3">
        <div class="thin">Title</div>
        {{ obj.title}}<br/>
      </div>
      <div class="col s3 m3">
        <div class= "thin">Version</div>
        {{ obj.version}}
      </div>
      <div class="col s3 m3">
        <div class="thin">Formats supported</div>
        {{ obj.formats_supported}}
      </div>
      <div class="col s2 m2">
        <div class="thin">Data type</div>
        {{ obj.type}}
      </div>


      <div class="col s1 m1">
        <!-- <a href =  "/maple/data-projects/{{obj.id}}"  class="#"><i style="color:#ff3d00;" class="material-icons small">arrow_forward</i></a> -->
      </div>

      </div>
      <div class="row">
        <div class="col s6 m6">
          <div class="thin">Location</div>
          <a href="{{ obj.location }}">
            maple-beta{{ obj.location }}
          </a>
        </div>
        <div class="col s6 m6">
          <div class="thin">Swagger API</div>
          <a href="/swagger">maple-beta/swagger/</a>
        </div>
      </div>
</li>

    {% endfor %}

  </ul>



  </div>



</div>









<ul id="bob" class="collection">


 </ul>

 </div>
{% endblock %}
